* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: lightslategrey;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

nav ul li {
  list-style: none;
  width: 100%;
  cursor: pointer;
}

/* addresses the hover on root level*/
nav ul li:hover {
  background-color: rgb(39, 177, 101);
}

nav ul li a {
  /* remove the underline */
  text-decoration: none;
  color: white;
}

/* addresses the sub-menu for Services */
nav ul li ul li {
  display: none;
}

/* addresses the sub-menu for Services to show on hover */
nav ul li:hover ul li {
  display: block;
  background-color: lightslategrey;
  min-width: 100%;
}

/* addresses the hover on sub-menu under Services*/
nav ul li ul li:hover {
  background-color: rgb(39, 177, 101);
}

/* addresses the sub-menu for Identify under Services */
.menu-list {
  position: relative;
}

/* addresses the sub-menu for Identify under Services */
.sub-menu {
  display: none;
}

/* addresses the sub-menu for Identify under Services */
.menu-list:hover .sub-menu {
  display: block;
  background-color: lightslategrey;
  position: absolute;
  left: 100%;
  top: 0;
  min-width: 100%;
}

/* addresses the hover on sub-menu under Identity of Services*/
.sub-menu li:hover {
  background-color: rgb(39, 177, 101);
}
