* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  height: 500px;
  width: 500px;
  border: 1px solid;
  padding: 5px;
  border-radius: 20px;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.container {
  position: absolute;
  top: 50%;
  /* left: 3%; */
  right: 2.5%;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* .backward {
    visibility: hidden;
  } */

.parent {
  position: absolute;
  bottom: 10px;
  left: 42%;
  display: flex;
  gap: 2px;
  background-color: white;
  border-radius: 10px;
}

.inner-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid;
  margin: 5px;
}

.checked {
  background-color: black;
}
